:root {
    //Colors
        //Primary
        --peach: rgb(231, 129, 107);
        --black: rgb(29, 28, 30);
        --white: rgb(255,255,255);
        //Secondary
        --light-peach: rgb(255, 173, 155);
        --dark-grey: rgb(51, 49, 54);
        --light-grey: rgb(241, 243, 245);

    
    //font weights
    --f400: 400; //regular
    --f500: 500; //medium
    --f600: 600; //custom
    --f700: 700; //bold
}