//Dark-grey-background for the footer
footer {
    &::before {
        content: '';
        grid-column: 1/4;
        grid-row: 2/16;
        background: v(black);
        z-index: -1;

        @include breakpoint(tablet){
            grid-column: 1/6;
            grid-row: 2/10;
        }
    }
}

//Call to action styling
.call-to-action {
    background: v(peach);
    border-radius: 1.5rem;
    @include flex(column, wrap, space-between, center);
    padding: 6.4rem 0;
    position: relative;
    overflow: hidden;

    @include breakpoint(tablet){
        padding: 5.7rem 0;
    }

    @include breakpoint(desktop){
        padding: 7.1rem 9.6rem;
        @include flex(row, wrap, space-between, center);
    }

    .text-container {
        h1 {
            margin-bottom: 1.6rem;
            width: 27.9rem;
            text-align: center;
            margin: auto;

            @include breakpoint(tablet){
                margin-bottom: 1.3rem;
                width: 28.7rem;
                line-height: 4rem;
            }

            @include breakpoint(desktop){
                text-align: left;
                width: 26.9rem;
                margin-left: unset; 
            }
        }

        p {
            width: 27.9rem;
            text-align: center;

            @include breakpoint(tablet){
                width: 43.3rem;
                font-size: 1.6rem;
            }
            @include breakpoint(desktop){
                text-align: left;
                width: 43rem;
            }
        }
    }

    img {
        position: absolute;
        top: 50%;
        transform: translate(4%, -50%);

        @include breakpoint(tablet){
            transform: translateX(5%);
        }
        @include breakpoint(tablet){
            right: 0;
            transform: translate(0%, -50%);
        }
    }
}

//LOGO CONTAINER
footer .logo-container {
    margin: auto;

    @include breakpoint(tablet){
        margin: 0;
    }
}


//DIVIDER
footer span.divider {
    height: 1px;
    background: v(white);
    opacity: 0.1;
}


//LINKS TO OTHER PAGES
footer .links {
    @include flex(column, wrap, space-between, center);

    @include breakpoint(tablet){
        @include flex(row, nowrap, flex-end, center);
        
        li:not(:nth-last-child(1)) {
            margin-right: 4.2rem;
        }
    }

    li:hover {
        cursor: pointer;
    }
}


//ADDRESS
footer .address {
    text-align: center;

    @include breakpoint(tablet) {
        text-align: left;
    }
}


//CONTACT
footer .contact {
    text-align: center;

    @include breakpoint(tablet) {
        text-align: left;
    }
}



//Social Media Icon Styling

footer .socialMedia-icons {
    @include flex(row, nowrap, center, center);

    @include breakpoint(tablet){
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.footer-social-icon:hover {
    fill: v(light-peach);
    cursor: pointer;
}

footer .socialMedia-icons a:not(:nth-last-child(1)) {
    margin-right: 1.6rem;
}